doctype html
html
  head
    title= title
  body
    p QmeIn
button(onclick="move()") User Register
script.
  function move() {
    window.location.href = '/user-register'
  } 
button(onclick="move2()") Merchant Register
script.
  function move2() {
    window.location.href = '/merchant-register'
  }